# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\aapetrei\OneDrive - ENDAVA\Desktop\materials\2-exercise-files\before\github\github-pluralsight-spring-cloudconfig-wa-tolls-perf\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
